Checks: >-
    -*,
    clang-analyzer-*,
    modernize-*,-modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,-readability-qualified-auto,-readability-magic-numbers

CheckOptions:
  - key: readability-identifier-naming.ParameterIgnoredRegexp
    value: ^c$
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^c$