Checks: >-
    -*,
    clang-analyzer-*,
    modernize-*,-modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,-readability-qualified-auto,-readability-magic-numbers
